@font-face {
  font-family: "m-regular";
  src: url(../assets/fonts/Montserrat-Regular.ttf);
}

@font-face {
  font-family: "m-bold";
  src: url(../assets/fonts/Montserrat-Bold.ttf);
}

@font-face {
  font-family: "m-light";
  src: url(../assets/fonts/Montserrat-Light.ttf);
}

@font-face {
  font-family: "m-medium";
  src: url(../assets/fonts/Montserrat-Medium.ttf);
}

@font-face {
  font-family: "m-semi-bold";
  src: url(../assets/fonts/Montserrat-SemiBold.ttf);
}

@font-face {
  font-family: "m-extra-bold";
  src: url(../assets/fonts/Montserrat-ExtraBold.ttf);
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0px;
  padding: 0px;
  font-size: 14px;
}

ul {
  padding: 0px;
  margin: 0px;
}

* {
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.link {
  -webkit-transition: color 0.3s !important;
  transition: color 0.3s !important;
}

.link:hover {
  color: #f10e1f !important;
}

.link-icon {
  -webkit-transition: color 0.3s !important;
  transition: color 0.3s !important;
}

.link-icon:hover svg {
  fill: #f10e1f !important;
}

.main-wrapper {
  position: relative;
  background-color: #020D18;
  height: 100%;
  z-index: 0;
}

.overlay {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.3;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.overlay:hover {
  background-color: #333333;
}

.movie-title {
  font-size: 60px;
  color: white;
  text-transform: uppercase;
  font-family: "m-semi-bold";
  margin: 0px;
  margin-top: 22px;
}

.movie-description {
  font-size: 14px;
  color: #b0b0b0;
  line-height: 1.643;
  font-family: "m-light";
  margin: 0px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.continue-reading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.continue-reading .continue {
  font-family: "m-regular";
  text-decoration: none;
  color: white;
}

.continue-reading .icon {
  height: 14px;
  width: 14px;
  fill: white;
  margin-left: 3px;
}

.red {
  background-color: #f10e1f;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.red:hover {
  background-color: #f76e79;
}

.lightblue {
  background-color: #1e344b;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.lightblue:hover {
  background-color: #3b6794;
}

.movie-details-button {
  font-size: 12px;
  font-family: "m-regular";
  text-transform: uppercase;
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 30px;
  text-align: center;
  width: 145px;
  height: 40px;
  cursor: pointer;
  color: white;
  margin-right: 20px;
}

.movie-details-button .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container {
  padding: 0px 15px;
  max-width: 1170px;
  margin: 0 auto;
  position: relative;
}

.mx-auto {
  margin: 0px auto;
}

.ml-auto {
  margin-left: auto;
}

.logo-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-transform: uppercase;
}

.logo-wrapper .logo {
  width: 40px;
  margin-right: 10px;
}

.logo-wrapper .text {
  color: #f10e1f;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .text {
  font-size: 14px;
  font-family: "m-regular";
}

.header .main-nav-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .main-nav-wrapper .main-nav .link {
  position: relative;
  display: inline;
  margin-right: 30px;
}

.header .main-nav-wrapper .main-nav .link:last-of-type {
  margin-right: 0px;
}

.header .main-nav-wrapper .main-nav .link a {
  text-decoration: none;
  color: white;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.header .main-nav-wrapper .main-nav .link a:hover {
  color: #f10e1f;
}

.header .main-nav-wrapper .main-nav .link .items-number {
  position: absolute;
  top: -13px;
  right: -11px;
  background-color: #f10e1f;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  font-family: sans-serif;
  font-weight: 600;
  color: white;
  font-size: 12px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .search-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .search-wrapper .input-wrapper {
  position: relative;
}

.header .search-wrapper .input-wrapper .search {
  width: 172px;
  background: transparent;
  border: none;
  border-bottom: 1px solid #f10e1f;
  color: white;
}

.header .search-wrapper .input-wrapper .search::-webkit-input-placeholder {
  color: #f10e1f;
}

.header .search-wrapper .input-wrapper .search:-ms-input-placeholder {
  color: #f10e1f;
}

.header .search-wrapper .input-wrapper .search::-ms-input-placeholder {
  color: #f10e1f;
}

.header .search-wrapper .input-wrapper .search::placeholder {
  color: #f10e1f;
}

.header .search-wrapper .input-wrapper .search-icon {
  position: absolute;
  width: 15px;
  height: 15px;
  bottom: 5px;
  right: 0px;
}

.header .search-wrapper .input-wrapper .search-icon .icon {
  fill: #f10e1f;
}

.header .search-wrapper .buttons .text {
  text-decoration: none;
  color: white;
}

.header .search-wrapper .buttons .link {
  margin: 0px 30px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.header .search-wrapper .buttons .link:hover {
  color: #f10e1f;
}

.header .search-wrapper .buttons .button {
  background-color: #f10e1f;
  padding: 10px 20px;
  border-radius: 30px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.header .search-wrapper .buttons .button:hover {
  background-color: #f76e79;
}

footer {
  padding: 70px 0px;
  background-color: #000b15;
  color: #999999;
}

footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .logo-wrapper .text {
  color: #999999;
  font-family: "m-medium";
  font-size: 18px;
}

footer .copyright {
  font-family: "m-light";
}

footer aside {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

footer .our-partners {
  font-family: "m-light";
  margin-top: 50px;
  margin-bottom: 50px;
}

footer .our-partners .partners {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .our-partners .partners .partner {
  padding: 8px 9px;
  background-color: #212121;
  margin-right: 10px;
  border-radius: 50%;
  cursor: pointer;
}

footer .our-partners .partners .partner .icon {
  height: 20px;
  width: 20px;
}

footer .our-partners .partners .partner .icon path {
  fill: #6d6d6d;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  stroke-width: 30;
}

footer .our-partners .partners .partner:hover path {
  stroke: gold;
  fill: gold;
}

footer .row {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  margin-left: 100px;
}

footer .row .title {
  font-family: "m-medium";
  color: #b0b0b0;
  line-height: 1.571;
}

footer .row .movies {
  max-height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

footer .row .movies .item {
  margin-right: 50px;
  color: #656565;
  line-height: 2.143;
  font-family: "m-light";
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

footer .row .movies .item:hover {
  color: #f10e1f;
}

.social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social-media .social {
  margin-right: 10px;
  height: 20px;
  width: 20px;
  cursor: pointer;
}

.social-media .social svg {
  fill: #6d6d6d;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.social-media .facebook:hover svg {
  fill: blue;
}

.social-media .google:hover svg {
  fill: red;
}

.social-media .twitter:hover svg {
  fill: lightblue;
}

.social-media .insta:hover svg {
  fill: lightcoral;
}

.trailer-wrapper {
  position: fixed;
  z-index: 99;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  top: 0;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.trailer-wrapper .trailer {
  width: 60%;
  height: 70%;
  position: relative;
}

.trailer-wrapper .trailer .close-trailer {
  position: absolute;
  right: -30px;
  top: -35px;
  display: block;
  color: #f10e1f;
  font-size: 30px;
  font-family: "m-extra-bold";
  cursor: pointer;
}

.trailer-wrapper .trailer .video-trailer {
  width: 100%;
  height: 100%;
  background-color: black;
}

.side-content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-right: 60px;
}

.side-content .search-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  border: 1px solid white;
}

.side-content .search-wrapper .search {
  background-color: transparent;
  border: none;
  color: white;
  width: 85%;
  padding-right: 5px;
  border-right: 1px solid white;
}

.side-content .search-wrapper .search::-webkit-input-placeholder {
  color: white;
}

.side-content .search-wrapper .search:-ms-input-placeholder {
  color: white;
}

.side-content .search-wrapper .search::-ms-input-placeholder {
  color: white;
}

.side-content .search-wrapper .search::placeholder {
  color: white;
}

.side-content .search-wrapper .search-icon {
  height: 15px;
  width: 15px;
  fill: #cccccc;
  cursor: pointer;
}

.side-content .default-margin {
  margin: 35px 0px;
}

.side-content .content {
  color: white;
  font-family: "m-light";
}

.side-content .content .title {
  text-transform: uppercase;
  padding-bottom: 20px;
  border-bottom: 1px solid white;
}

.side-content .content .item-wrapper {
  margin-top: 25px;
}

.side-content .content .item-wrapper .item {
  color: white;
}

.side-content .content .item-wrapper .item-link {
  text-decoration: none;
  color: white;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.side-content .content .item-wrapper .item-link:hover {
  color: #f10e1f;
}

.side-content .content .image-wrapper {
  min-width: 55px;
  max-width: 55px;
  min-height: 55px;
  max-height: 55px;
  background-color: #4c4c4c;
  margin-right: 15px;
  margin-top: 2px;
}

.side-content .content .post {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 35px 0px;
  border-bottom: 1px solid white;
}

.side-content .content .post:last-of-type {
  border-bottom: none;
  padding-bottom: 0px;
}

.side-content .content .post .text-title {
  line-height: 1.2;
  color: white;
  margin-bottom: 4px;
}

.side-content .content .post .text {
  color: #909090;
  line-height: 1.2;
}

.display-trailer {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.announcement-wrapper {
  position: fixed;
  bottom: 0px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.announcement-wrapper .announce {
  padding: 20px 30px;
  background-color: black;
}

.announcement-wrapper .announce .announce-text {
  font-family: "m-regular";
  color: white;
}

.announcement-wrapper .announce .announcement-highlight {
  color: #f10e1f;
  font-family: "m-extra-bold";
}

.show-announcement {
  -webkit-transform: translateY(-100%) !important;
          transform: translateY(-100%) !important;
}

body {
  overflow-x: hidden;
}

.first-section .bg {
  position: absolute;
  top: 0px;
  max-width: 100%;
  width: 100%;
  z-index: -1;
  height: 800px;
}

.first-section .top-shadow {
  position: absolute;
  top: 0px;
  max-width: 100%;
}

.first-section .container {
  padding-top: 50px;
}

.register-wrapper {
  margin-top: 20px;
  margin-bottom: 70px;
}

.register-wrapper .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.register-wrapper .login {
  position: absolute;
  top: 50px;
  -webkit-transform: translateX(-300%);
          transform: translateX(-300%);
  opacity: 0;
}

.register-wrapper .content-wrapper {
  width: 40%;
  padding: 40px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.6);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.register-wrapper .content-wrapper .title {
  color: white;
  font-family: "m-semi-bold";
  font-size: 40px;
}

.register-wrapper .content-wrapper .input-wrapper {
  margin-bottom: 35px;
  position: relative;
}

.register-wrapper .content-wrapper .input-wrapper label {
  position: absolute;
  top: 10px;
  left: 10px;
  color: white;
  font-family: "m-regular";
  font-size: 18px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.register-wrapper .content-wrapper .input-wrapper .input {
  display: block;
  padding: 10px;
  width: 100%;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid white;
  color: white;
  font-size: 18px;
}

.register-wrapper .content-wrapper .input-wrapper .input::-webkit-input-placeholder {
  color: white;
}

.register-wrapper .content-wrapper .input-wrapper .input:-ms-input-placeholder {
  color: white;
}

.register-wrapper .content-wrapper .input-wrapper .input::-ms-input-placeholder {
  color: white;
}

.register-wrapper .content-wrapper .input-wrapper .input::placeholder {
  color: white;
}

.register-wrapper .content-wrapper .input-wrapper .error {
  position: absolute;
  color: #f10e1f;
  font-family: "m-regular";
  margin-top: 5px;
}

.register-wrapper .content-wrapper .buttons {
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.register-wrapper .content-wrapper .buttons .link {
  color: #656565;
  font-family: "m-regular";
  text-decoration: none;
  cursor: pointer;
}

.register-wrapper .content-wrapper .buttons .link:hover {
  color: #f10e1f;
}

.register-wrapper .content-wrapper form {
  position: relative;
}

.register-wrapper .content-wrapper form .show-thumbs {
  -webkit-transform: translateX(0) !important;
          transform: translateX(0) !important;
}

.register-wrapper .content-wrapper form .announce-wrapper-good, .register-wrapper .content-wrapper form .announce-wrapper-bad, .register-wrapper .content-wrapper form .announce-wrapper-bad-login, .register-wrapper .content-wrapper form .announce-wrapper-good-login {
  position: absolute;
  overflow: hidden;
  width: 188px;
  right: -228px;
  top: 100px;
  height: 250px;
  -webkit-animation-name: animate-thumb;
          animation-name: animate-thumb;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.register-wrapper .content-wrapper form .announce-wrapper-good .icon, .register-wrapper .content-wrapper form .announce-wrapper-bad .icon, .register-wrapper .content-wrapper form .announce-wrapper-bad-login .icon, .register-wrapper .content-wrapper form .announce-wrapper-good-login .icon {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  width: 100%;
  height: 188px;
  fill: green;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.register-wrapper .content-wrapper form .announce-wrapper-bad, .register-wrapper .content-wrapper form .announce-wrapper-bad-login {
  left: -228px;
}

.register-wrapper .content-wrapper form .announce-wrapper-bad .icon, .register-wrapper .content-wrapper form .announce-wrapper-bad-login .icon {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  fill: red;
}

.register-wrapper .content-wrapper form .announce-wrapper-good-login {
  top: -93px;
}

.register-wrapper .content-wrapper form .announce-wrapper-bad-login {
  top: -45px;
}

.move-label {
  top: -15px !important;
  left: 0px !important;
  font-size: 13px !important;
}

.warn {
  border-color: #f10e1f !important;
}

.disable-button {
  background-color: thistle;
  cursor: default;
}

.disable-button:hover {
  background-color: thistle;
}

.hide-register-form {
  -webkit-transform: translateX(300%);
          transform: translateX(300%);
  opacity: 0;
}

.show-login-form {
  opacity: 1 !important;
  -webkit-transform: translateX(0) !important;
          transform: translateX(0) !important;
}

@-webkit-keyframes animate-thumb {
  0% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
  }
  50% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  100% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
  }
}

@keyframes animate-thumb {
  0% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
  }
  50% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  100% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
  }
}
/*# sourceMappingURL=register.css.map */